.vercel
node_modules
.next

.env
.env.local

.env.example

# Mac
.DS_Store

# TypeScript
tsconfig.tsbuildinfo

# Backup
node_modules_backup
terraform.tfvars
.terraform/
*.tfstate
*.tfstate.backup
.env.local
terraform.tfstate
env_dump.txt

# iOS / Xcode
*.DS_Store
build/
DerivedData/
*.userschemed/
*.xcuserdata/